In [1]:
import pandas as pd
import numpy as np

In [2]:
CombineResults = pd.read_excel("C:\\Users\\marco\\OneDrive\\Documents\\Application resources\\Python and Pandas\\2022 Combine SQL Project\\2022_NFL_Combine_Results.xls")

In [3]:
CombineResults

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,Cal Adomitis,LS,Pittsburgh,College Stats,2023-06-02,235,4.97,29.5,18.0,107.0,7.53,4.62,NaN
1,Austin Allen,TE,Nebraska,College Stats,2023-06-08,253,4.83,34.0,NaN,121.0,7.00,4.26,NaN
2,Chase Allen,TE,Iowa St.,College Stats,2023-06-06,251,NaN,33.5,NaN,117.0,7.03,4.43,NaN
3,Christopher Allen,EDGE,Alabama,College Stats,2023-06-04,241,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tyler Allgeier,RB,BYU,College Stats,2023-05-11,224,4.60,33.0,NaN,120.0,NaN,NaN,Atlanta Falcons / 5th / 151st pick / 2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,Devonte Wyatt,DT,Georgia,College Stats,2023-06-03,304,4.77,29.0,NaN,111.0,NaN,NaN,Green Bay Packers / 1st / 28th pick / 2022
320,Jalen Wydermyer,TE,Texas A&M,College Stats,2023-06-04,255,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,Cade York,K,LSU,College Stats,2023-06-01,206,NaN,NaN,12.0,NaN,NaN,NaN,Cleveland Browns / 4th / 124th pick / 2022
322,Nick Zakelj,OT,Fordham,NaN,2023-06-06,316,5.13,28.5,27.0,110.0,7.75,4.71,San Francisco 49ers / 6th / 187th pick / 2022
323,Bailey Zappe,QB,Western Kentucky,College Stats,2023-06-01,215,4.88,30.0,NaN,109.0,7.19,4.40,New England Patriots / 4th / 137th pick / 2022

In [4]:
Ht = CombineResults['Ht']
print(Ht)
height_date=Ht[0]
height_str = height_date.strftime('%Y%m%d%H%M%S')
height_int = int(height_str)
print(height_int)

0     2023-06-02
1     2023-06-08
2     2023-06-06
3     2023-06-04
4     2023-05-11
         ...
319   2023-06-03
320   2023-06-04
321   2023-06-01
322   2023-06-06
323   2023-06-01
Name: Ht, Length: 324, dtype: datetime64[ns]
20230602000000

In [5]:
height = (height_int/1000000) - 20230000
height_ft_str = str(height)[0]
height_ft = int(height_ft_str)
height_in = height - height_ft * 100
height = height_ft * 12 + height_in
print(height)

74.0

In [6]:
Ht_in = []

In [7]:
for n in Ht:
    print(n)

2023-06-02 00:00:00
2023-06-08 00:00:00
2023-06-06 00:00:00
2023-06-04 00:00:00
2023-05-11 00:00:00
2023-06-04 00:00:00
2023-06-02 00:00:00
2023-06-06 00:00:00
2023-06-01 00:00:00
2023-06-01 00:00:00
2000-06-01 00:00:00
2023-05-08 00:00:00
2023-05-08 00:00:00
2000-06-01 00:00:00
2023-06-05 00:00:00
2023-06-04 00:00:00
2023-06-02 00:00:00
2023-06-01 00:00:00
2023-05-11 00:00:00
2023-06-05 00:00:00
2023-06-01 00:00:00
2023-06-01 00:00:00
2023-06-02 00:00:00
2023-05-11 00:00:00
2023-06-03 00:00:00
2023-06-03 00:00:00
2000-06-01 00:00:00
2023-05-09 00:00:00
2023-06-01 00:00:00
2023-06-02 00:00:00
2023-05-11 00:00:00
2023-06-05 00:00:00
2000-06-01 00:00:00
2000-06-01 00:00:00
2023-06-05 00:00:00
2023-06-01 00:00:00
2023-06-04 00:00:00
2023-06-02 00:00:00
2023-05-10 00:00:00
2023-06-04 00:00:00
2000-06-01 00:00:00
2023-06-04 00:00:00
2023-06-01 00:00:00
2023-06-02 00:00:00
2023-06-03 00:00:00
2023-06-04 00:00:00
2023-06-01 00:00:00
2023-05-11 00:00:00
2023-06-03 00:00:00
2023-06-02 00:00:00
2023-06-03 00:00:00
2023-06-05 00:00:00
2023-06-03 00:00:00
2000-06-01 00:00:00
2023-05-10 00:00:00
2023-06-01 00:00:00
2023-05-11 00:00:00
2023-05-11 00:00:00
2000-06-01 00:00:00
2023-06-02 00:00:00
2023-06-05 00:00:00
2000-06-01 00:00:00
2023-06-01 00:00:00
2023-06-05 00:00:00
2023-06-03 00:00:00
2023-06-06 00:00:00
2023-06-01 00:00:00
2000-06-01 00:00:00
2023-05-11 00:00:00
2023-06-06 00:00:00
2023-06-05 00:00:00
2023-06-01 00:00:00
2023-06-07 00:00:00
2023-06-03 00:00:00
2023-06-01 00:00:00
2023-05-11 00:00:00
2023-06-02 00:00:00
2023-06-01 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-05-10 00:00:00
2023-05-08 00:00:00
2023-06-02 00:00:00
2023-05-11 00:00:00
2023-06-04 00:00:00
2023-06-02 00:00:00
2023-06-01 00:00:00
2023-06-04 00:00:00
2023-06-02 00:00:00
2023-06-04 00:00:00
2023-06-02 00:00:00
2023-06-07 00:00:00
2023-06-04 00:00:00
2023-06-02 00:00:00
2023-06-08 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2000-06-01 00:00:00
2023-06-01 00:00:00
2023-05-11 00:00:00
2023-06-05 00:00:00
2023-06-04 00:00:00
2023-06-01 00:00:00
2023-06-03 00:00:00
2023-06-02 00:00:00
2023-06-01 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2000-06-01 00:00:00
2023-05-09 00:00:00
2000-06-01 00:00:00
2023-06-01 00:00:00
2000-06-01 00:00:00
2023-06-02 00:00:00
2023-06-04 00:00:00
2023-06-04 00:00:00
2023-05-11 00:00:00
2023-06-02 00:00:00
2023-06-06 00:00:00
2023-06-04 00:00:00
2023-06-01 00:00:00
2023-06-02 00:00:00
2023-06-01 00:00:00
2023-05-10 00:00:00
2000-06-01 00:00:00
2023-06-02 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-06-04 00:00:00
2023-05-11 00:00:00
2000-06-01 00:00:00
2023-06-03 00:00:00
2023-06-04 00:00:00
2023-06-08 00:00:00
2023-06-01 00:00:00
2023-06-07 00:00:00
2023-06-05 00:00:00
2000-06-01 00:00:00
2023-05-10 00:00:00
2023-06-03 00:00:00
2000-06-01 00:00:00
2023-06-01 00:00:00
2023-06-03 00:00:00
2023-06-05 00:00:00
2000-06-01 00:00:00
2023-05-11 00:00:00
2023-06-03 00:00:00
2023-06-03 00:00:00
2023-06-05 00:00:00
2023-05-11 00:00:00
2023-05-08 00:00:00
2023-06-04 00:00:00
2000-06-01 00:00:00
2023-06-01 00:00:00
2023-06-02 00:00:00
2023-05-11 00:00:00
2023-06-03 00:00:00
2023-06-04 00:00:00
2023-06-07 00:00:00
2000-06-01 00:00:00
2023-05-09 00:00:00
2023-06-05 00:00:00
2023-05-11 00:00:00
2023-06-07 00:00:00
2023-06-01 00:00:00
2023-06-03 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-06-02 00:00:00
2023-06-03 00:00:00
2023-06-03 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-06-06 00:00:00
2023-05-11 00:00:00
2023-06-03 00:00:00
2023-06-04 00:00:00
2023-06-03 00:00:00
2023-05-11 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-06-04 00:00:00
2023-06-03 00:00:00
2023-05-11 00:00:00
2023-06-02 00:00:00
2023-05-09 00:00:00
2023-05-11 00:00:00
2023-05-11 00:00:00
2023-06-01 00:00:00
2023-06-07 00:00:00
2023-05-11 00:00:00
2023-05-11 00:00:00
2023-06-04 00:00:00
2023-06-06 00:00:00
2023-06-02 00:00:00
2023-06-05 00:00:00
2023-05-10 00:00:00
2023-06-03 00:00:00
2023-06-06 00:00:00
2023-05-11 00:00:00
2023-06-08 00:00:00
2023-06-01 00:00:00
2023-06-04 00:00:00
2023-06-04 00:00:00
2023-06-03 00:00:00
2000-06-01 00:00:00
2023-06-05 00:00:00
2023-06-05 00:00:00
2023-05-10 00:00:00
2023-06-03 00:00:00
2023-06-03 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-06-07 00:00:00
2023-06-02 00:00:00
2023-06-05 00:00:00
2023-05-11 00:00:00
2023-06-03 00:00:00
2023-06-03 00:00:00
2023-06-03 00:00:00
2023-05-10 00:00:00
2023-05-11 00:00:00
2023-06-03 00:00:00
2023-06-01 00:00:00
2023-06-01 00:00:00
2023-06-06 00:00:00
2023-06-06 00:00:00
2023-06-01 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-06-03 00:00:00
2023-06-05 00:00:00
2023-05-08 00:00:00
2023-06-02 00:00:00
2023-06-05 00:00:00
2023-06-03 00:00:00
2023-05-08 00:00:00
2023-05-11 00:00:00
2023-06-04 00:00:00
2023-06-07 00:00:00
2000-06-01 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-06-06 00:00:00
2023-06-03 00:00:00
2023-06-02 00:00:00
2000-06-01 00:00:00
2023-06-05 00:00:00
2000-06-01 00:00:00
2023-06-04 00:00:00
2000-06-01 00:00:00
2000-06-01 00:00:00
2023-06-04 00:00:00
2023-06-03 00:00:00
2023-06-05 00:00:00
2023-06-03 00:00:00
2000-06-01 00:00:00
2000-06-01 00:00:00
2000-06-01 00:00:00
2000-06-01 00:00:00
2023-06-03 00:00:00
2023-06-05 00:00:00
2023-06-03 00:00:00
2023-05-11 00:00:00
2023-06-07 00:00:00
2023-06-02 00:00:00
2000-06-01 00:00:00
2023-05-11 00:00:00
2023-06-02 00:00:00
2023-06-08 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-06-01 00:00:00
2000-06-01 00:00:00
2023-06-02 00:00:00
2023-06-02 00:00:00
2023-06-02 00:00:00
2023-06-01 00:00:00
2023-06-04 00:00:00
2023-06-06 00:00:00
2023-06-01 00:00:00
2023-05-10 00:00:00
2023-06-06 00:00:00
2023-05-08 00:00:00
2023-06-06 00:00:00
2023-06-08 00:00:00
2023-05-09 00:00:00
2023-06-04 00:00:00
2023-06-06 00:00:00
2023-06-05 00:00:00
2000-06-01 00:00:00
2023-05-08 00:00:00
2023-06-04 00:00:00
2023-06-02 00:00:00
2023-06-04 00:00:00
2023-06-01 00:00:00
2023-06-03 00:00:00
2023-06-04 00:00:00
2000-06-01 00:00:00
2000-06-01 00:00:00
2000-06-01 00:00:00
2023-06-04 00:00:00
2023-05-10 00:00:00
2023-06-05 00:00:00
2023-06-02 00:00:00
2023-06-03 00:00:00
2023-05-09 00:00:00
2023-06-04 00:00:00
2023-06-01 00:00:00
2000-06-01 00:00:00
2023-06-04 00:00:00
2023-06-07 00:00:00
2023-06-02 00:00:00
2023-06-01 00:00:00
2023-06-04 00:00:00
2023-06-05 00:00:00
2023-05-11 00:00:00
2023-06-03 00:00:00
2023-06-04 00:00:00
2023-06-01 00:00:00
2023-06-06 00:00:00
2023-06-01 00:00:00

In [8]:
Ht[10]
height_date = Ht[10]
height_str = height_date.strftime('%Y%m%d%H%M%S')
print(height_str)

20000601000000

In [9]:
for H in Ht:
    height_date = H
    height_str = height_date.strftime('%Y%m%d%H%M%S')
    height_int = int(height_str)
    
    if height_int > 20230000000000:
        height = (height_int/1000000) - 20230000
    else:
        height = (height_int/1000000) - 20000000
        
    height_ft_str = str(height)[0]
    height_ft = int(height_ft_str)
    height_in = height - height_ft * 100
    height = height_ft * 12 + height_in
    Ht_in.append(height)

In [10]:
Ht_in

[74.0,
 80.0,
 78.0,
 76.0,
 71.0,
 76.0,
 74.0,
 78.0,
 73.0,
 73.0,
 73.0,
 68.0,
 68.0,
 73.0,
 77.0,
 76.0,
 74.0,
 73.0,
 71.0,
 77.0,
 73.0,
 73.0,
 74.0,
 71.0,
 75.0,
 75.0,
 73.0,
 69.0,
 73.0,
 74.0,
 71.0,
 77.0,
 73.0,
 73.0,
 77.0,
 73.0,
 76.0,
 74.0,
 70.0,
 76.0,
 73.0,
 76.0,
 73.0,
 74.0,
 75.0,
 76.0,
 73.0,
 71.0,
 75.0,
 74.0,
 75.0,
 77.0,
 75.0,
 73.0,
 70.0,
 73.0,
 71.0,
 71.0,
 73.0,
 74.0,
 77.0,
 73.0,
 73.0,
 77.0,
 75.0,
 78.0,
 73.0,
 73.0,
 71.0,
 78.0,
 77.0,
 73.0,
 79.0,
 75.0,
 73.0,
 71.0,
 74.0,
 73.0,
 76.0,
 77.0,
 70.0,
 68.0,
 74.0,
 71.0,
 76.0,
 74.0,
 73.0,
 76.0,
 74.0,
 76.0,
 74.0,
 79.0,
 76.0,
 74.0,
 80.0,
 76.0,
 77.0,
 73.0,
 73.0,
 71.0,
 77.0,
 76.0,
 73.0,
 75.0,
 74.0,
 73.0,
 76.0,
 77.0,
 73.0,
 69.0,
 73.0,
 73.0,
 73.0,
 74.0,
 76.0,
 76.0,
 71.0,
 74.0,
 78.0,
 76.0,
 73.0,
 74.0,
 73.0,
 70.0,
 73.0,
 74.0,
 76.0,
 77.0,
 76.0,
 71.0,
 73.0,
 75.0,
 76.0,
 80.0,
 73.0,
 79.0,
 77.0,
 73.0,
 70.0,
 75.0,
 73.0,
 73.0,
 75.0,
 77.0,
 73.0,
 71.0,
 75.0,
 75.0,
 77.0,
 71.0,
 68.0,
 76.0,
 73.0,
 73.0,
 74.0,
 71.0,
 75.0,
 76.0,
 79.0,
 73.0,
 69.0,
 77.0,
 71.0,
 79.0,
 73.0,
 75.0,
 76.0,
 77.0,
 74.0,
 75.0,
 75.0,
 76.0,
 77.0,
 78.0,
 71.0,
 75.0,
 76.0,
 75.0,
 71.0,
 76.0,
 77.0,
 76.0,
 75.0,
 71.0,
 74.0,
 69.0,
 71.0,
 71.0,
 73.0,
 79.0,
 71.0,
 71.0,
 76.0,
 78.0,
 74.0,
 77.0,
 70.0,
 75.0,
 78.0,
 71.0,
 80.0,
 73.0,
 76.0,
 76.0,
 75.0,
 73.0,
 77.0,
 77.0,
 70.0,
 75.0,
 75.0,
 76.0,
 77.0,
 79.0,
 74.0,
 77.0,
 71.0,
 75.0,
 75.0,
 75.0,
 70.0,
 71.0,
 75.0,
 73.0,
 73.0,
 78.0,
 78.0,
 73.0,
 76.0,
 77.0,
 75.0,
 77.0,
 68.0,
 74.0,
 77.0,
 75.0,
 68.0,
 71.0,
 76.0,
 79.0,
 73.0,
 76.0,
 77.0,
 78.0,
 75.0,
 74.0,
 73.0,
 77.0,
 73.0,
 76.0,
 73.0,
 73.0,
 76.0,
 75.0,
 77.0,
 75.0,
 73.0,
 73.0,
 73.0,
 73.0,
 75.0,
 77.0,
 75.0,
 71.0,
 79.0,
 74.0,
 73.0,
 71.0,
 74.0,
 80.0,
 76.0,
 77.0,
 76.0,
 77.0,
 73.0,
 73.0,
 74.0,
 74.0,
 74.0,
 73.0,
 76.0,
 78.0,
 73.0,
 70.0,
 78.0,
 68.0,
 78.0,
 80.0,
 69.0,
 76.0,
 78.0,
 77.0,
 73.0,
 68.0,
 76.0,
 74.0,
 76.0,
 73.0,
 75.0,
 76.0,
 73.0,
 73.0,
 73.0,
 76.0,
 70.0,
 77.0,
 74.0,
 75.0,
 69.0,
 76.0,
 73.0,
 73.0,
 76.0,
 79.0,
 74.0,
 73.0,
 76.0,
 77.0,
 71.0,
 75.0,
 76.0,
 73.0,
 78.0,
 73.0]

In [11]:
CombineResults['Ht_in'] = Ht_in

In [12]:
CombineResults

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Ht_in
0,Cal Adomitis,LS,Pittsburgh,College Stats,2023-06-02,235,4.97,29.5,18.0,107.0,7.53,4.62,NaN,74.0
1,Austin Allen,TE,Nebraska,College Stats,2023-06-08,253,4.83,34.0,NaN,121.0,7.00,4.26,NaN,80.0
2,Chase Allen,TE,Iowa St.,College Stats,2023-06-06,251,NaN,33.5,NaN,117.0,7.03,4.43,NaN,78.0
3,Christopher Allen,EDGE,Alabama,College Stats,2023-06-04,241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0
4,Tyler Allgeier,RB,BYU,College Stats,2023-05-11,224,4.60,33.0,NaN,120.0,NaN,NaN,Atlanta Falcons / 5th / 151st pick / 2022,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,Devonte Wyatt,DT,Georgia,College Stats,2023-06-03,304,4.77,29.0,NaN,111.0,NaN,NaN,Green Bay Packers / 1st / 28th pick / 2022,75.0
320,Jalen Wydermyer,TE,Texas A&M,College Stats,2023-06-04,255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0
321,Cade York,K,LSU,College Stats,2023-06-01,206,NaN,NaN,12.0,NaN,NaN,NaN,Cleveland Browns / 4th / 124th pick / 2022,73.0
322,Nick Zakelj,OT,Fordham,NaN,2023-06-06,316,5.13,28.5,27.0,110.0,7.75,4.71,San Francisco 49ers / 6th / 187th pick / 2022,78.0
323,Bailey Zappe,QB,Western Kentucky,College Stats,2023-06-01,215,4.88,30.0,NaN,109.0,7.19,4.40,New England Patriots / 4th / 137th pick / 2022,73.0

In [13]:
Draft = CombineResults['Drafted (tm/rnd/yr)']

In [14]:
Draft

0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4           Atlanta Falcons / 5th / 151st pick / 2022
                            ...
319        Green Bay Packers / 1st / 28th pick / 2022
320                                               NaN
321        Cleveland Browns / 4th / 124th pick / 2022
322     San Francisco 49ers / 6th / 187th pick / 2022
323    New England Patriots / 4th / 137th pick / 2022
Name: Drafted (tm/rnd/yr), Length: 324, dtype: object

In [15]:
type(Draft[4])

str

In [16]:
Draft_Pick = []

In [17]:
for n in Draft:
    
    if pd.isnull(n) == True:
        Draft_Pick.append(np.nan)
        
    else:
        Split_String = n.split()
        
        if len(Split_String) == 9:
            Pick = Split_String[5]
        else:
            Pick = Split_String[6]
        
        Pick = Pick.replace("s", "")
        Pick = Pick.replace("t", "")
        Pick = Pick.replace("h", "")
        Pick = Pick.replace("d", "")
        Pick = Pick.replace("n", "")
        Pick = Pick.replace("r", "")
        
        
        Pick_int = int(Pick)
        
        Draft_Pick.append(Pick_int)

In [19]:
Draft_Pick

[nan,
 nan,
 nan,
 nan,
 151,
 58,
 166,
 nan,
 180,
 119,
 66,
 138,
 196,
 242,
 189,
 182,
 nan,
 99,
 nan,
 112,
 114,
 89,
 nan,
 nan,
 64,
 150,
 42,
 nan,
 48,
 nan,
 nan,
 nan,
 nan,
 222,
 104,
 109,
 134,
 18,
 nan,
 175,
 113,
 198,
 133,
 219,
 226,
 95,
 221,
 169,
 103,
 32,
 176,
 117,
 nan,
 nan,
 154,
 62,
 63,
 nan,
 nan,
 94,
 9,
 96,
 nan,
 nan,
 147,
 13,
 220,
 93,
 83,
 246,
 205,
 nan,
 nan,
 nan,
 nan,
 16,
 132,
 nan,
 80,
 nan,
 142,
 nan,
 38,
 203,
 6,
 23,
 nan,
 nan,
 68,
 179,
 118,
 nan,
 67,
 125,
 110,
 126,
 129,
 nan,
 81,
 156,
 234,
 65,
 nan,
 4,
 nan,
 nan,
 255,
 57,
 nan,
 nan,
 39,
 nan,
 105,
 nan,
 15,
 252,
 36,
 nan,
 33,
 14,
 nan,
 nan,
 75,
 183,
 nan,
 131,
 nan,
 257,
 nan,
 208,
 31,
 210,
 nan,
 nan,
 144,
 2,
 26,
 nan,
 nan,
 59,
 201,
 161,
 61,
 194,
 nan,
 nan,
 nan,
 17,
 168,
 121,
 85,
 76,
 71,
 97,
 nan,
 nan,
 51,
 30,
 nan,
 212,
 nan,
 145,
 nan,
 128,
 211,
 nan,
 84,
 139,
 25,
 nan,
 27,
 8,
 184,
 72,
 237,
 256,
 40,
 82,
 115,
 47,
 199,
 55,
 nan,
 nan,
 157,
 nan,
 35,
 21,
 146,
 173,
 229,
 44,
 177,
 111,
 nan,
 nan,
 54,
 70,
 238,
 191,
 7,
 nan,
 160,
 45,
 143,
 11,
 165,
 106,
 251,
 90,
 46,
 230,
 nan,
 19,
 nan,
 69,
 163,
 52,
 20,
 53,
 107,
 37,
 nan,
 nan,
 262,
 170,
 77,
 nan,
 nan,
 92,
 74,
 178,
 nan,
 98,
 174,
 nan,
 43,
 188,
 nan,
 nan,
 nan,
 nan,
 101,
 nan,
 195,
 nan,
 nan,
 100,
 nan,
 190,
 148,
 nan,
 120,
 215,
 24,
 158,
 231,
 123,
 nan,
 3,
 130,
 29,
 nan,
 127,
 245,
 nan,
 49,
 60,
 nan,
 209,
 5,
 nan,
 87,
 223,
 nan,
 nan,
 247,
 50,
 102,
 88,
 140,
 149,
 nan,
 152,
 116,
 nan,
 136,
 155,
 41,
 22,
 249,
 1,
 nan,
 nan,
 34,
 243,
 171,
 nan,
 nan,
 nan,
 91,
 nan,
 122,
 nan,
 141,
 nan,
 12,
 135,
 164,
 56,
 86,
 10,
 108,
 73,
 79,
 202,
 153,
 78,
 nan,
 28,
 nan,
 124,
 187,
 137]

In [20]:
CombineResults['Draft_Pick'] = Draft_Pick

In [22]:
CombineResults

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Ht_in,Draft_Pick
0,Cal Adomitis,LS,Pittsburgh,College Stats,2023-06-02,235,4.97,29.5,18.0,107.0,7.53,4.62,NaN,74.0,NaN
1,Austin Allen,TE,Nebraska,College Stats,2023-06-08,253,4.83,34.0,NaN,121.0,7.00,4.26,NaN,80.0,NaN
2,Chase Allen,TE,Iowa St.,College Stats,2023-06-06,251,NaN,33.5,NaN,117.0,7.03,4.43,NaN,78.0,NaN
3,Christopher Allen,EDGE,Alabama,College Stats,2023-06-04,241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,NaN
4,Tyler Allgeier,RB,BYU,College Stats,2023-05-11,224,4.60,33.0,NaN,120.0,NaN,NaN,Atlanta Falcons / 5th / 151st pick / 2022,71.0,151.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,Devonte Wyatt,DT,Georgia,College Stats,2023-06-03,304,4.77,29.0,NaN,111.0,NaN,NaN,Green Bay Packers / 1st / 28th pick / 2022,75.0,28.0
320,Jalen Wydermyer,TE,Texas A&M,College Stats,2023-06-04,255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,NaN
321,Cade York,K,LSU,College Stats,2023-06-01,206,NaN,NaN,12.0,NaN,NaN,NaN,Cleveland Browns / 4th / 124th pick / 2022,73.0,124.0
322,Nick Zakelj,OT,Fordham,NaN,2023-06-06,316,5.13,28.5,27.0,110.0,7.75,4.71,San Francisco 49ers / 6th / 187th pick / 2022,78.0,187.0
323,Bailey Zappe,QB,Western Kentucky,College Stats,2023-06-01,215,4.88,30.0,NaN,109.0,7.19,4.40,New England Patriots / 4th / 137th pick / 2022,73.0,137.0

In [24]:
CombineResults.to_excel("2022_Combine_Results_Pythonadj.xlsx", sheet_name = 'AllData')